/*CSS DOCUMENT*/


  @import url("https://use.typekit.net/auj1eij.css");

img {
max-height: 80%;
max-width: 100%;
float: inherit;
    

  }

.container h1 {
 text-align: center;
    font-family: wedding-gothic-atf,sans-serif;
font-weight: 600;
font-style: normal;
   
}
.container h2{
    text-align: right;
    font-size: 1em;
   font-family: wedding-gothic-atf,sans-serif;
font-weight: 100;
font-style: normal;

}
div.container {
    max-width: 45em;
    margin: auto;
}
.intro p{
    text-align: center;
    font-family: mrs-eaves,serif;
font-weight: 400;
font-style: normal;
    
}

div.ingredients {
    width: 40%;
    float:left;
}

.ingredients ul {
    font-size: 1.125em;
    font-family: mrs-eaves,serif;
font-weight: 400;
font-style: normal;
}

div.directions {
    float:left;
    width: 60%;
    font-family: mrs-eaves,serif;
font-weight: 400;
font-style: normal;

}

.directions ol {
    font-size: 1em;
}


h3{
    font-family: wedding-gothic-atf,sans-serif;
font-weight: 500;
font-style: normal;
    font-size:1.5em;
    
}

footer {
    text-align: center;
    font-size: 1em;
    display:block;
  
}
