/*CSS DOCUMENT*/


  @import url("https://use.typekit.net/auj1eij.css");

img {
max-height: 80%;
max-width: 100%;
float: inherit;
    

  }

.container h1 {
 text-align: center;
    font-family: wedding-gothic-atf,sans-serif;
font-weight: 600;
font-style: normal;
   color: (255,0,0);
   
}
.container h2{
    text-align: right;
    font-size: 1em;
   font-family: wedding-gothic-atf,sans-serif;
font-weight: 100;
font-style: normal;

}
div.container {
    max-width: 45em;
    margin: auto;
}
.intro p{
    text-align: center;
  font-family: sweet-sans-pro,sans-serif;
font-weight: 400;
font-style: normal;
    
}

div.ingredients {
    width: 37%;
    float:left;
    font-family: sweet-sans-pro,sans-serif;
font-weight: 400;
font-style: normal;
}

.ingredients ul {
    font-size: 1.125em;
    
}

div.directions {
    float:left;
    width: 63%;
  font-family: sweet-sans-pro,sans-serif;
font-weight: 400;
font-style: normal;

}

.directions ol {
    font-size: 1em;
}


h3{
    font-family: wedding-gothic-atf,sans-serif;
font-weight: 500;
font-style: normal;
    font-size:1.5em;
    
}

h6 {
  text-align: center;
    font-size: 1em;
     font-family: wedding-gothic-atf,sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: .15em;
}
    

