/*CSS document*/
<meta name="viewport" content="width=device-width, initial-scale=1.0">

body {
    
}

div.container {
    max-width: 40em;
    margin: auto;
   
   
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    
    
}

nav ul li{
    display: inline;    
    list-style: none;
    margin-left: .5em;
    font-style: none;
    text-transform: uppercase;
    font-family: skolar-sans-latin,sans-serif;
font-weight: 900;
font-style: normal;
    color: #FFFF00;
   
}

a{
    text-decoration: none;
    color: black; 
}

Nav {
    margin-bottom: 2em;
}

header {
    background-color: #C0C0C0;
}
h2{
    font-size: 4em;
    font-family: orpheuspro,serif;
font-weight: 500;
font-style: normal;
}

h3{
    font-family: skolar-sans-latin,sans-serif;
font-weight: 900;
font-style: normal;
     margin-top: 2em;
}

p{
    font-family: skolar-sans-latin,sans-serif;
font-weight: 300;
font-style: normal;
}

section.noimage{

    background-color: #E0E0E0;
}

h3.noimage{
    text-transform: uppercase;
    background-color: #C0C0C0;
   
}
section.image{
    background-color: #F0F0F0;
}
h3.image{
    background-color: #C0C0C0;
}



figcaption{
    font-family: skolar-sans-latin,sans-serif;
font-weight: 400;
font-style: italic;
}

footer {
    font-size: .75em;
    background-color: #FFFF00;
    font-family: skolar-sans-latin,sans-serif;
font-weight: 400;
font-style: normal;
    margin-top: 2em;
    
}

